<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/theme.css" type="text/css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <title>Tingro welcomes you</title>

</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2"><img class="img-fluid d-block" src="/static/logo.png">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="#" class="active nav-link">Status</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Schedule</a> </li>
            <li class="nav-item"> <a href="#" class="nav-link">Event Log</a> </li>
            <li class="nav-item"><a class="nav-link" href="#">Pictures</a></li>
          </ul>
        </div>




        <div class="col-md-10">


          {%block content%}

          <div class="row" >
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">Light</div>
                <div class="card-body">
                  <p>Last Status change: 10 Oct (turned on)</p>

                  <input id="light_control" type="checkbox">&nbsp; <label id="light_control_result"></label>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">Pump</div>
                <div class="card-body">
                  <p>Last watered: 10 Oct (8 seconds)<br></p>
                  <form class="form-inline">
                    <div class="input-group">
                      <input type="range" class="form-control" min="1"  max="10" value="8" name="pump_duration" id="pump_duration" step="1" /> &nbsp;
                      <div class="input-group-append"><button id="pump_start" class="btn btn-primary" type="button">pump</button></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      <br>
          <div class="row">

             <div class="col-md-6">
              <div class="card">
                <div class="card-header">Camera</div>
                <div class="card-body">
                  <p>You can take pictures here<br><br></p>

                </div>
              </div>
            </div>


             <div class="col-md-6">
              <div class="card">
                <div class="card-header">Most recent events</div>
                <div class="card-body">
                  <p>Most recent events<br><br></p>

                </div>
              </div>
            </div>

          </div>

{%endblock content%}

        </div>




      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script language="JavaScript">
  $(function() {
    $('#light_control').bootstrapToggle();
    //$('#pump_start').bootstrapButton();


    $('#light_control').change(function(){

    on = $(this).prop('checked');
    if (on == true){
    jQuery.get("/rpc/light/on", function(result){$('#light_control_result').html(result)});
    }
    else
    {
    jQuery.get("/rpc/light/off", function(result){$('#light_control_result').html(result)});
    }

    });


    $('#pump_start').click(function(){
    jQuery.get("/rpc/pump/on/" + $('#pump_duration')[0].value);
    });

  })
</script>
</body>

</html>